#footer-container {
  font-family: "Montserrat", Arial, Helvetica, sans-serif, Georgia,
    "Times New Roman", Times, serif;
  letter-spacing: 1px;
  margin-bottom: 25px;
  margin-top: 100px;
  height: fit-content;
}

.break {
  border: none;
  height: 4px !important;
  color: #00f2ea;
  opacity: 100%;
  margin-top: 0px;
}

#footer-title {
  text-align: center;
  margin-top: 4px;
  margin-bottom: 10px;
  font-size: 2.2vw;
  font-weight: 800;
  text-transform: uppercase;
}

@media screen and (min-width: 600px) {
  #footer-title {
    font-size: 13px;
  }
}

#footer-names {
  margin: 15px;
}

.footer {
  color: white;
  text-align: center;
  font-weight: 800;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 3vw;
  transition: color 0.1s, transform 0.1s;
}

@media screen and (min-width: 600px) {
  .footer {
    font-size: 18px;
  }
}

.footer:hover {
  color: #00f2ea;
  cursor: default;
  transform: scale(1.1);
}
